.first-screen {
  background: url(../assets/first-screen-bg.webp) center / cover no-repeat;

  @include desktop {
    background-position: center right -400px;
  }

  &__content {
    padding: 190px 0 0;
    height: 880px;
    box-sizing: border-box;

    @include desktop {
      display: flex;
      align-items: center;
      padding: 0 0 190px;
    }

    @include tablet {
      max-height: calc(100dvh - 80px);
      padding: 0;
    }
  }

  &__title {
    max-width: 1140px;
    color: #ffffff;

    @include desktop {
      font-size: 110px;
    }

    @include desktopmd {
      font-size: 100px;
    }

    @include laptop {
      font-size: 80px;
    }

    @include tablet {
      font-size: 56px;
    }

    @include mobile {
      font-size: 40px;
    }

    @include mobilesm {
      font-size: 32px;
    }
  }
}
