.law-info {
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 52px 70px;
    border-radius: 40px;
    background-color: #00746e;

    @include desktop {
      flex-wrap: wrap;
      padding: 60px 40px;
    }

    @include laptop {
      padding: 40px 32px;
    }

    @include mobile {
      padding: 40px 16px;
      border-radius: 20px;
    }
  }

  &__text {
    flex: 1 1 auto;
    font-weight: 700;
    font-size: 32px;
    color: #fff;

    @include laptop {
      font-size: 28px;
    }

    @include mobile {
      font-size: 24px;
    }
  }

  &__more {
    flex: 0 0 320px;

    @include tablet {
      flex: 1 1 100%;
    }

    & .button {
      @include tablet {
        max-width: none;
      }
    }
  }
}
